# build
dist
node_modules

# env
.env
.env*
!.env.template
notes.md

# Logs
logs
*.log
npm-debug.log*

# test-results
test-results.json
vitest-results.json
playwright-results.xml
/test-results

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
