@import "tailwindcss";

/* main colors: 200, 600, 800 */

@theme {
  --color-emerald-50:  #F3FFF6;
  --color-emerald-100: #CFFFDC;
  --color-emerald-200: #9FE9C6;
  --color-emerald-300: #96F1C5;
  --color-emerald-400: #72DEB6;
  --color-emerald-500: #4ABAA1;
  --color-emerald-600: #36A089;
  --color-emerald-700: #218F82;
  --color-emerald-800: #156C6F; 
  --color-emerald-900: #075B59;
  --color-emerald-950: #023C41;

  --color-yellow-50:  #FFFEEF;
  --color-yellow-100: #FFFDCE;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #F9E66C;
  --color-yellow-400: #F3CF58;
  --color-yellow-500: #EAB308;
  --color-yellow-600: #CA8A04;
  --color-yellow-700: #A16207;
  --color-yellow-800: #854D0E;
  --color-yellow-900: #713F12;
  --color-yellow-950: #422006;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
