name: Build and Publish Container

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    types: [ opened, reopened, edited ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        working-directory: ./app
        run: npm ci
      - name: Run unit tests
        working-directory: ./app
        run: npx vitest run --reporter=default --reporter=json --outputFile.json=./vitest-results.json
      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          artifact: vitest-results
          name: Vitest Tests
          path: 'app/vitest-results.json' 
          reporter: jest-junit
      - name: Install Playwright Browsers
        working-directory: ./app
        run: npx playwright install chromium --with-deps
      - name: Run Playwright tests
        working-directory: ./app
        run: npx playwright test
      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          artifact: playwright-results
          name: Playwright Tests
          path: 'app/playwright-results.xml'
          reporter: java-junit
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: app/test-results/
          retention-days: 30  

  build-and-push:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag version
        id: extract_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Build and push container image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Containerfile
          push: true
          tags: ghcr.io/quartier-depot/self-checkout:${{ steps.extract_version.outputs.version }},ghcr.io/quartier-depot/self-checkout:latest